<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <h3> <%= contactContent %> </h3>
    <div class="links">
        <a class="btn social " href="<%=twitter%>"> <i class="fa-brands fa-twitter fa-2xl"></i></i></a>
        <a class="btn social" href="<%=linkedin%>"> <i class="fa-brands fa-linkedin fa-2xl"></i></a>          
        <a class="btn social" href="<%=github%>"> <i class="fa-brands fa-github fa-2xl"></i></i></a>
        <a class="btn social" href="<%=mail%>"><i class="fa-solid fa-envelope fa-2xl"></i></a>    
    </div> 

<%- include("partials/footer"); -%>
